<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <app-poi-widget  (poiSelect)="shareSelectedItem($event)"></app-poi-widget>
  </div>
  <div class="element-right">
    <app-weather-widget [currentWeather]="selectedWeather"></app-weather-widget>
    <app-follower-widget [currentSocials]="selectedSocials"></app-follower-widget>
  </div>
  <div class="clear"></div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
    W3layouts </a></p>
</div>
