<div class="element-bg-img"><img [src]=widgetImage alt="" class="img-responsive"></div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let type of (widgetData | unique: 'type')"><a (click)="onTypeSelect(type)">{{type}}</a></li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <div class="activity-row" *ngFor="let dataItem of filteredData; index as i" (click)="onPoiClick(i)">
          <div class="activity-desc">
            <h5>{{dataItem.poi.address}}</h5>
            <p>Lovely place</p>
            <p>{{dataItem.poi.address}}</p>
            <h6>Tel:+{{dataItem.poi.phone | phone}}</h6>
          </div>
          <div class="activity-img">
            <ul>
              <li><img [src]=dataItem.poi.img width="50" height="50" alt=""/></li>
              <li><img [src]=dataItem.social.img width="50" height="50" alt=""/></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
